  #video_container {
    position: relative;
    background-color: black;
  }

  #video_manage {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    opacity: 0;
    transition: opacity .3s;
  }

  #video_container:hover #video_manage {
    opacity: .9;
  }
  
  #progressBar {
    color:#FFF;
    height:10px;
    cursor: pointer;
  }

  #back_progress {
    height: 3px;
    background: #DDD;
  }

  #progress {
    background-color:#FF0000;
    height:3px;
  }

  #back_progress:hover {
    position: relative;
    bottom: 1px;
    height: 5px;
  }

  #back_progress:hover div {
    height: 5px;
  }

  #volume {
    display: none;
    -webkit-appearance: none;
    background-color: transparent;
    position: relative;
    bottom: 3px;
    background: linear-gradient(to right, #FFF 50%,  transparent 50%);
    height: 3px;
    width: 52px;
  }

  #volume:focus {
    outline: none;
  }

  #volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #FFF;
    height: 12px;
    width: 12px;
    position: relative;
    bottom: -1px;
    border-radius: 50%;
    /*box-shadow: -80px 0 0 80px #FFF;*/
  }

  #playpause,
  #mute {
    height: 30px;
  }

  .left_controls,
  .right_controls {
    display: inline-block;
    color: #FFF;
  }

  .right_controls {
    float: right;
    font-size: 18px;
    padding-right: 10px;
    padding-top: 2px;
    cursor: pointer;
  }
