  #video_container {
    position: relative;
    background-color: black;
    z-index: 0;
  }

  #video_manage {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0;
    transition: opacity .3s;
    z-index: 2;
  }

  #video_gradient {
    background: linear-gradient(transparent, black);
    position: absolute;
    width: 100%;
    height: 400px;
    top: 320px;
    opacity: 0;
    transition: opacity .3s;
    z-index: 1;
  }

  #video_container:hover #video_manage {
    opacity: .9;
  }

  #video_container:hover #video_gradient {
    opacity: .5;
  }

  #progressBar {
    color:#FFF;
    height:10px;
    cursor: pointer;
  }

  #back_progress {
    height: 3px;
    background: #DDD;
    display: flex;
  }

  #progress {
    background-color:#FF0000;
    height:3px;
  }

  #prog_thumb {
    background-color:#FF0000;
    border-radius: 50%;
    position: relative;
    right: 5.5px;
    bottom: 3px;
    height: 12px;
    width: 12px;
    transition: transform .1s;
    transform: scale(0);
  }

  #back_progress:hover {
    position: relative;
    bottom: 1px;
    height: 5px;
  }

  #back_progress:hover #progress {
    height: 5px;
  }

  #back_progress:hover #prog_thumb {
    transform: none;
  }

  #volume_slider {
    display: inline-block;
    width: 0px;
    overflow: hidden;
    transition: .2s;
    position: relative;
    bottom: -3px;
  }

  #volume {
    -webkit-appearance: none;
    background-color: transparent;
    position: relative;
    bottom: 6px;
    background: linear-gradient(to right, #FFF 50%,  transparent 50%);
    height: 3px;
    width: 52px;
  }

  #volume:focus {
    outline: none;
  }

  #volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #FFF;
    height: 12px;
    width: 12px;
    position: relative;
    border-radius: 50%;
    /*box-shadow: -80px 0 0 80px #FFF;*/
  }

  #playpause,
  #mute {
    height: 30px;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
  }

  #mute {
    transform: scale(1.3);
  }

  #time {
    display: inline-block;
    padding: 5px;
    position: relative;
    bottom: 4px;
  }

  #time span {
    font-size: 13px;
  }

  #t_now {
    position: absolute;
    bottom: 6px;
  }

  #t_slash {
    position: relative;
    left: 30px;
    opacity: .8;
  }

  #t_end {
    position: relative;
    left: 30px;
    opacity: .8;
  }

  .left_controls,
  .right_controls {
    display: inline-block;
    color: #FFF;
  }

  .right_controls {
    float: right;
    font-size: 18px;
    padding-right: 10px;
    padding-top: 2px;
    cursor: pointer;
  }
