<!doctype html>
<head>
  <title>Playing Video</title>
  <script src="https://kit.fontawesome.com/ecb8a71d9f.js" crossorigin="anonymous"></script>
  <script src="//code.jquery.com/jquery-3.5.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/info-box.css">
  <link rel="stylesheet" type="text/css" href="/static/css/video-control.css">
  </script>
</head>
<body style="margin: 0px;">
  <div id="first" style="float: left; padding-left: 98px; padding-right: 98px; padding-top: 18px;">
    <div id="video_container">
      <video id="video" width="1280" height="720" autoplay onclick="togglePlayPause()" ondblclick="fullscreen.click()">
        <source src="/static/{{video.path}}" type="video/mp4">
      Your browser does not support the video tag.
      </video>
      <div id="video_manage">
        <div id="progressBar">
          <div id="back_progress">
            <div id="progress"></div>
            <div id="prog_thumb"></div>
          </div>
        </div>
        <div id="controls">
          <div class="left_controls">
            <button id="playpause" title="play" onclick="togglePlayPause()">►</button>
            <button id="mute" title="unmuted" onclick="toggleMute()">&#128266;</button>
            <div id="volume_slider">
              <input id="volume" value="50" type="range" onchange="setVolume()">
            </div>
            <div id="time">
              <span id="t_now">0:00</span>
              <span id="t_slash">/</span>
              <span id="t_end">0:00</span>
            </div>
          </div>
          <div class="right_controls">
            <div id="fullscreen">
              <i id="fs_icon" class="fas fa-expand"></i>
            </div>
          </div>
        </div>
      </div>
      <script>
        function togglePlayPause() {
          var playpause = document.getElementById("playpause");
          if (video.paused || video.ended) {
            playpause.title = "pause";
            playpause.innerHTML = "❚ ❚";
            video.play();
          }
          else {
            playpause.title = "play";
            playpause.innerHTML = "►";
            video.pause();
          }
        }

        video.addEventListener('play', function() {
          var playpause = document.getElementById("playpause");
          playpause.title = "pause";
          playpause.innerHTML = "❚ ❚";
        }, false);
        video.addEventListener('pause', function() {
          var playpause = document.getElementById("playpause");
          playpause.title = "play";
          playpause.innerHTML = "►";
        }, false);
        
        function toggleMute() {
          video.muted = !video.muted;
          if (video.muted) {
            mute.title = "muted"
            mute.innerHTML = "&#128264;";

            var volume = document.getElementById("volume");
            volume.value = "0";
            $('#volume').css("background", "transparent");
          }
          else {
            mute.title = "unmuted"
            mute.innerHTML = "&#128266;";

            var volume = document.getElementById("volume");
            volume.value = "50";
            $('#volume').css("background", "linear-gradient(to right, #FFF 50%,  transparent 50%)");
          }
        }

        function setVolume() {
          var volume = document.getElementById("volume");

          if (volume.value == 0) {
            mute.title = "muted"
            mute.innerHTML = "&#128264;";
          }
          else if (volume.value > 0) {
            mute.title = "unmuted"
            mute.innerHTML = "&#128266;";
          }

          video.volume = volume.value / 100;
        }

        volume.addEventListener("input", function() {
          if (this.value > 50) {
            $(this).css("background", "linear-gradient(to right, #FFF " + this.value + "%,  transparent " + (100 - this.value) + "%)");
          }
          else {
            $(this).css("background", "linear-gradient(to left, transparent " + (100 - this.value) + "%, #FFF " + this.value + "%)");
          }
        }, false);

        mute.addEventListener("mouseover", function() {
          volume_slider.style.width = "52px";
        }, false);

        controls.addEventListener("mouseleave", function() {
          volume_slider.style.width = "0px";
        }, false);

        function updateProgress() {
          var progress = document.getElementById("progress");
          var value = 0;
          if (video.currentTime > 0) {
            value = (100 / video.duration) * video.currentTime;
            // value = value.toFixed(2);
          }
          progress.style.width = value + "%";

          var end_min = Math.floor(video.duration / 60);
          var end_sec = Math.floor(video.duration) - end_min * 60;
          var now_min = Math.floor(video.currentTime / 60);
          var now_sec = Math.floor(video.currentTime) - now_min * 60;

          if (end_sec < 10) {
            end_sec = "0" + end_sec;
          }
          if (now_sec < 10) {
            now_sec = "0" + now_sec;
          }

          t_end.innerText = end_min + ":" + end_sec;
          t_now.innerText = now_min + ":" + now_sec;
        }

        video.addEventListener("timeupdate", updateProgress, false);

        progressBar.addEventListener("mouseup", function(event) {
          if (isDown) {
            prog_thumb.style.position = "relative";
            prog_thumb.style.left = null;
            prog_thumb.style.bottom = "3px";
            mouseClient = 0;
            offset = 0;
            isDown = false;
            video.play();
          }
          else {
            var x = event.offsetX;
            var bx = this.offsetWidth;
            video.currentTime = video.duration * x / bx;
          }
        });

        fullscreen.addEventListener("click", function() {
          if (document.fullscreenElement == null) {
            video_container.webkitRequestFullscreen();
            $('#fs_icon').attr('class', 'fas fa-compress');
            video.width = screen.width;
            video.height = screen.height;
          }
          else {
            document.exitFullscreen();
            $('#fs_icon').attr('class', 'fas fa-expand');
            video.width = "1280";
            video.height = "720";
          }
        });

        document.onwebkitfullscreenchange = function() {
          if (document.fullscreenElement == null) {
            $('#fs_icon').attr('class', 'fas fa-expand');
            video.width = "1280";
            video.height = "720";
          }
        }

        var mouseClient = 0;
        var mouseOffset = 0;
        var offset = 0
        var isDown = false;

        prog_thumb.addEventListener('mousedown', function(e) {
          isDown = true;
          offset = prog_thumb.offsetLeft - e.clientX;
          video.pause();
        }, true);

        /*
        document.addEventListener('mouseup', function() {
          if (isDown) {
            prog_thumb.style.position = "relative";
            prog_thumb.style.left = null;
            prog_thumb.style.bottom = "3px";
            mouseClient = 0;
            offset = 0;
            isDown = false;
            video.play();
          }
        }, true);
        */

        progressBar.addEventListener('mousemove', function(event) {
          event.preventDefault();
          if (isDown) {
            mouseOffset = event.clientX - $(this).offset().left;
            if (mouseOffset < 0 || mouseOffset > this.offsetWidth) {
              return
            }

            mouseClient = event.clientX;
            prog_thumb.style.position = "absolute";
            prog_thumb.style.left = (mouseClient + offset) + "px";
            prog_thumb.style.bottom = "-4px";

            var bx = this.offsetWidth;
            video.currentTime = video.duration * mouseOffset / bx;
          }
        }, true);

      </script>
    </div>
    <div>
      {% if video.title %}
      <h1 style="font-size: 18px; font-weight: normal;">{{video.title}}</h1>
      {% else %}
      <h1>A Random Video</h1>
      {% endif %}
      <div id="info" style="color: #808080; display: flex; border-bottom: 1px solid #ddd;">
        <div id="text" style="height: auto;">
          <div id="views" style="font-size: 14px; display: inline-block;">조회수 {{video.views}}회</div>
          <div id="date" style="font-size: 14px; display: inline-block;">• {{video.date}}</div>
        </div>
        <div id="flex-box" style="flex-grow: 1; flex-shrink: 1;"></div>
        <!-- Button effect from here: https://codepen.io/recodenow/pen/bqpzBE -->
        <div class="rating">
          <form id="rating" action="/rate" method="GET">
            <input type="hidden" id="f_name" name="name">
            <input type="hidden" id="f_type" name="type">
            <input type="hidden" id="f_mode" name="mode">
          </form>
          <div id="like_btn" class="like">
            <i class="fa fa-thumbs-up"></i>
            <span class="r_count">{{video.rate.like}}</span>
          </div>
          <div id="dislike_btn" class="dislike">
            <i class="fa fa-thumbs-down"></i>
            <span class="r_count">{{video.rate.dislike}}</span>
          </div>
          <div class='c_dislike' style="height: 2px; background: #ddd">
            <div class='c_like'>
            </div>
          </div>
        </div>
        <div class="share">
          <i class="fas fa-share"></i>
          <span style="font-size: 17px;">공유</span>
        </div>
        <script>
          function SubForm() {
            var $form = $('#rating');
            $.get({
              url: $form.attr('action'),
              type: 'GET',
              data: $form.serialize()
            });
          }

          $('.like, .dislike').on('click', function() {
            event.preventDefault();

            document.getElementById('f_name').setAttribute('value', window.location.href.split('/').reverse()[0]);

            if ($('.active').attr('id') == $(this).attr('id')) {
              $('.active').removeClass('active');

              document.getElementById('f_type').setAttribute('value', this.getAttribute('class'));
              document.getElementById('f_mode').setAttribute('value', 'cancel');
              SubForm();
              
              $('.r_count', this).text(Number($('.r_count', this).text()) - 1);
            }
            else {
              document.getElementById('f_type').setAttribute('value', this.getAttribute('class'));
              document.getElementById('f_mode').setAttribute('value', 'submit');

              if ($('.active').length > 0) {
                $('.active').find('.r_count').text(Number($('.active').find('.r_count').text()) - 1);
                $('.active').removeClass('active');

                document.getElementById('f_mode').setAttribute('value', 'change');
              }
              SubForm();

              $('.r_count', this).text(Number($('.r_count', this).text()) + 1);
              $(this).addClass('active');
            }            
          });

          $('.r_count').on("DOMSubtreeModified", function() {
            var h_like = $('.r_count')[0];
            var h_dislike = $('.r_count')[1];

            var b_like = Number(h_like.innerText);
            var b_dislike = Number(h_dislike.innerText);

            var p_like = b_like / (b_like + b_dislike) * 100;
            if (isNaN(p_like)) {
              $('.c_like').attr('style', 'height: 2px; background-color: #808080; width: 50%');
            }
            else {
              $('.c_like').attr('style', 'height: 2px; background-color: #065FD4; width: ' + p_like + '%');
            }
          });

          var h_like = $('.r_count')[0];
          var h_dislike = $('.r_count')[1];
          var p_like = Number(h_like.innerText) / (Number(h_like.innerText) + Number(h_dislike.innerText)) * 100;

          if (isNaN(p_like)) {
            $('.c_like').attr('style', 'height: 2px; background-color: #808080; width: 50%');
          }
          else {
            $('.c_like').attr('style', 'height: 2px; background-color: #065FD4; width: ' + p_like + '%');
          }
        </script>
      </div>
    </div>
    
  </div>
  <div id="second">

  </div>
  <div id="p_dialog" class="p_dialog">
    <div class="p_content">
      <span class="p_close">&times;</span>
      <div style="font-size: 16px;">공유</div>
      <div class="p_bar">
        <input class="p_link" readonly size="45" onclick="this.select()">
      <div class="p_copy">복사</div>
      </div>
    </div>
  </div>
  <script>
    $('.share').on('click', function() {
      $('.p_dialog')[0].style.display = "block";
      $('.p_link')[0].value = window.location.href;
    });
    $('.p_close').on('click', function() {
      $('.p_dialog')[0].style.display = "none";
    });
    window.onclick = function(event) {
      var dialog = document.getElementById('p_dialog');
      if (event.target == dialog) {
        $('.p_dialog')[0].style.display = "none";
      }
    }
    $('.p_copy').on('click', function() {
      $('.p_link')[0].select();
      document.execCommand("Copy");
    });
  </script>
</body>
