<!doctype html>
<head>
  <title>Playing Video</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/rating.css">
  <script src="//code.jquery.com/jquery-3.5.1.min.js"></script>
  </script>
</head>
<body style="padding-left: 90px; padding-right: 90px; padding-top: 10px;">
  <div id="first" style="float: left;">
    <video width="1280" height="720" controls autoplay>
      <source src="/static/{{video.path}}" type="video/mp4">
    Your browser does not support the video tag.
    </video>
    <div>
      {% if video.title %}
      <h1 style="font-size: 18px; font-weight: normal;">{{video.title}}</h1>
      {% else %}
      <h1>A Random Video</h1>
      {% endif %}
      <div id="info" style="color: #808080; display: flex; border-bottom: 1px solid #ddd;">
        <div id="text" style="height: auto;">
          <div id="views" style="font-size: 14px; display: inline-block;">조회수 {{video.views}}회</div>
          <div id="date" style="font-size: 14px; display: inline-block;">• {{video.date}}</div>
        </div>
        <div id="flex-box" style="flex-grow: 1; flex-shrink: 1;"></div>
        <!-- Button effect from here: https://codepen.io/recodenow/pen/bqpzBE -->
        <div class="rating">
          <form id="rating" action="/rate" method="GET">
            <input type="hidden" id="f_name" name="name">
            <input type="hidden" id="f_type" name="type">
            <input type="hidden" id="f_mode" name="mode">
          </form>
          <div id="like_btn" class="like">
            <i class="fa fa-thumbs-up"></i>
            <span class="r_count">{{video.rate.like}}</span>
          </div>
          <div id="dislike_btn" class="dislike">
            <i class="fa fa-thumbs-down"></i>
            <span class="r_count">{{video.rate.dislike}}</span>
          </div>
        </div>
        <script>
          function SubForm() {
            var $form = $('#rating');
            $.get({
              url: $form.attr('action'),
              type: 'GET',
              data: $form.serialize()
            });
          }

          $('.like, .dislike').on('click', function() {
            event.preventDefault();

            document.getElementById('f_name').setAttribute('value', window.location.href.split('/').reverse()[0]);

            if ($('.active').attr('id') == $(this).attr('id')) {
              $('.active').removeClass('active');

              document.getElementById('f_type').setAttribute('value', this.getAttribute('class'));
              document.getElementById('f_mode').setAttribute('value', 'cancel');
              SubForm();
              
              $('.r_count', this).text(Number($('.r_count', this).text()) - 1);
            }
            else {
              document.getElementById('f_type').setAttribute('value', this.getAttribute('class'));
              document.getElementById('f_mode').setAttribute('value', 'submit');

              if ($('.active').length > 0) {
                $('.active').find('.r_count').text(Number($('.active').find('.r_count').text()) - 1);
                $('.active').removeClass('active');

                document.getElementById('f_mode').setAttribute('value', 'change');
              }
              SubForm();

              $('.r_count', this).text(Number($('.r_count', this).text()) + 1);
              $(this).addClass('active');
            }            
          });
        </script>
      </div>
    </div>
    
  </div>
  <div id="second">

  </div>
</body>
